.products-and-services {
    padding: 40px 20px;
    background-color: #1A1B1C;
    text-align: center;
  }
  
  .products-and-services h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .products-and-services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .product-service-card {
    padding: 100px;
    background-color: #1A1B1C;
    border-radius: 8px;
    box-shadow: 0px 8px 8px  #49A9D9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-service-card  p {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .product-service-card  h4 {
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
  }

  .product-service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
