.about {
  padding: 40px 50px;
  background-color: #1A1B1C;
  text-align: left;
  color: #ffffff;
}

.about h2, .about h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ffffff;
}

.team-member {
  display: inline-block;
  margin: 20px;
  text-align: left;
  background-color: #2A2B2C;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member p {
  font-size: 1rem;
  color: #ffffff;
}

blockquote {
  font-size: 1.2rem;
  font-style: italic;
  color: #49A9D9;
  margin: 20px auto;
  max-width: 600px;
  border-left: 4px solid #49A9D9;
  padding-left: 20px;
}

section {
  margin-bottom: 40px;
}

section h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #49A9D9;
}

section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #d3d3d3;
}
