.contact {
  padding: 40px;
  margin: 0 auto;
  text-align: center;
  background-color: #1A1B1C;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.contact.ltr {
  text-align: left;
}

.contact.rtl {
  text-align: right;
}

.contact h2 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.contact.ltr p, .contact.ltr h2, .contact.ltr h3 {
  text-align: left;
}

.contact.rtl p, .contact.rtl h2, .contact.rtl h3 {
  text-align: right;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.contact-link {
  font-size: 1.2rem;
  color: #49A9D9;
  text-decoration: none;
}

.contact-link:hover {
  color: #49A9F9;
}


.social-link {
  display: inline-block;
  margin-right: 15px;
  font-size: 1.2rem;
  color: #49A9D9;
  text-decoration: none;
}

.social-link:hover {
  color: #49A9F9;
  text-decoration: underline;
}

.department-contacts {
  margin-top: 30px;
}
 .follow{
  color: #ffffff;
 }