.custom-navbar {
  background-color: #343a40; /* Changed background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff; /* Changed text color */
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.custom-nav-link {
  color: #ffffff !important; /* Changed link color */
  font-size: 1rem;
  margin-right: 15px;
}

.language-option {
  text-transform: capitalize;
}

.custom-toggle {
  border: none;
  color: #ffffff; /* Changed toggle button color */
}

.bigger-logo {
  width: 55px; /* Adjust the size as needed */
  height: auto;
}
