.footer {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: #ffffff;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    margin: 10px;
    flex: 1;
    min-width: 200px;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin: 5px 0;
}

.footer select {
    background-color: #343a40;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px;
    margin-top: 10px;
}
